#outer {
  height: 400px;
  width: 80%;
  border: 2px solid black;
  margin: 50px auto;
  text-align: center;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  flex-direction: column;
  /* flex-direction: column-reverse; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap-reverse; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: baseline; */
  /* align-content: flex-start; */
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-between; */
  /* align-content: space-around; */
  /* align-content: space-evenly; */
  /* align-content: baseline; */
}
div {
  height: 100px;
  /* width: 90%; */
  /* width: 200px; */
}
#red {
  height: 200px;
  flex-grow: 3;
}

#orange {
  height: 250px;
  /* align-self: center; */
  flex-grow: 2;
  /* max-width: 100px; */
}
#yellow {
  /* flex-basis: 100px; */
  flex-shrink: 2;
}
