div {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
  background-color: green;
  text-align: center;
  margin: 10px;
}
#static {
  position: static;
  top: 280px;
  left: 200px;
  background-color: yellow;
}
#relative {
  position: relative;
  top: 280px;
  left: 200px;
  right: 50px;
  background-color: yellow;
}
#absolute {
  position: absolute;
  top: 480px;
  left: 400px;
  background-color: yellow;
}
#fixed {
  position: fixed;
  top: 280px;
  left: 200px;
  background-color: yellow;
}
#sticky {
  position: sticky;
  top: 180px;
  left: 300px;
  background-color: yellow;
}
