.outer {
  border: 2px solid black;
  display: inline-block;
  height: 200px;
  width: 200px;
  box-shadow: 0 4px 8px black;
  margin: 10px;
  border-radius: 5px;
  transition: 1s;
}
img {
  height: 100px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.desc {
  padding: 0 2px 0 2px;
}
.outer:hover {
  box-shadow: 0 8px 16px gold;
}
